#erensia
{
  font-size:60px;
  text-align: center;
  color:white;
  font-family: 'Times New Roman', Times, serif;
  animation-iteration-count: 1;
  animation-duration:400ms;
  animation-name:title;
  
  opacity:0;
  margin:0 20px 0 20px;
  animation-fill-mode: forwards;
  animation: fadeIn 1s ease, erensialight 2s ease 5000ms forwards;
}

#erensia2
{
  font-size:60px;
  text-align: center;
  color:white;
  font-family: 'Times New Roman', Times, serif;
 
  animation-iteration-count: 1;
  animation-duration:400ms;
  animation-name:title;
  
  animation-delay: 400ms;
  opacity:0;
  animation-fill-mode: forwards;
  margin:0 20px 0 20px;
}
#erensia3
{
  font-size:60px;
  text-align: center;
  color:white;
  font-family: 'Times New Roman', Times, serif;

  animation-iteration-count: 1;
  animation-duration:400ms;
  animation-name:title;
  
  animation-delay: 800ms;
  opacity:0;
  animation-fill-mode: forwards;
  margin:0 20px 0 20px;
}
#erensia4
{
  font-size:60px;
  text-align: center;
  color:white;
  font-family: 'Times New Roman', Times, serif;

  animation-iteration-count: 1;
  animation-duration:400ms;
  animation-name:title;
 
  animation-delay: 1200ms;
  opacity:0;
  animation-fill-mode: forwards;
  margin:0 20px 0 20px;
}
#erensia5
{
  font-size:60px;
  text-align: center;
  color:white;
  font-family: 'Times New Roman', Times, serif;
  
  animation-iteration-count: 1;
  animation-duration:400ms;
  animation-name:title;
  
  animation-delay: 1600ms;
  opacity:0;
  animation-fill-mode: forwards;
  margin:0 20px 0 20px;
}
#erensia6
{
  font-size:60px;
  text-align: center;
  color:white;
  font-family: 'Times New Roman', Times, serif;
  
  animation-iteration-count: 1;
  animation-duration:400ms;
  animation-name:title;
  
  animation-delay: 2000ms;
  opacity:0;
  animation-fill-mode: forwards;
  margin:0 20px 0 20px;
}
#erensia7
{
  font-size:60px;
  text-align: center;
  color:white;
  font-family: 'Times New Roman', Times, serif;

  animation-iteration-count: 1;
  animation-duration:400ms;
  animation-name:title;

  animation-delay: 2400ms;
  opacity:0;
  animation-fill-mode: forwards;
  margin:0 20px 0 20px;
}

#hr
{
  animation-iteration-count: 1;
  animation-duration:400ms;
  animation-name:title;

  animation-delay: 2800ms;
}
  
.erensia
{
 
  
  text-align: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.8);

  padding:50px;
  padding-top:100px;
  animation: fadeIn 1s ease, erensialight 2s ease 5000ms forwards;
  
}

body {
  /* Combine the background images and set the gradient as the first one */
  background-image: radial-gradient(ellipse at bottom, #5d3b24, #111), url("orchestra_hall.jpg");
  background-repeat: no-repeat;
  /* Set the background-size for both images */
  background-size: 100% 100%, cover;
  background-blend-mode: overlay;
  /* Set the background position to fixed for the gradient only */
  background-position: fixed, center;
  margin: 0;
  overflow: hidden;
}

h1
{
  color:white;
}


@keyframes title
{
0%
{
  text-align: center;
  visibility: visible;
  opacity:0.2;
  
}
50%
{
  text-align: center;
  opacity:0.5;

}
100%
{
  text-align: center;
  opacity:1;
}
}

#headerr
{

  border:1px solid rgb(255, 255, 255);
  text-align: center;
  color:white;
  border-collapse: collapse;
  font-size: 20px;
  height:60px;
  opacity:0.8;
  background-color: rgba(0,0,0,0.8);

}


.content
{
  font-size: 20px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  opacity:0;
  animation-delay: 3000ms;
  animation-fill-mode: forwards;
  animation-duration:2s;
  animation-name:welcome;
  margin-top: 200px;
}

#info
{
  opacity:0;
  animation-iteration-count: 1;
  animation-duration:750ms;
  animation-name:welcome;
  animation-delay: 4000ms;
  background-color: rgba(0,0,0,0.5);
  
  animation-fill-mode: forwards;
}
@keyframes welcome
{

  0%
  {
      opacity:0.1;
  }

  50%
  {
    opacity:0.4;
    
  }
  100%
  {
    opacity:1;
    transform:translateY(-40px);
  }
}

#contact
{
  border: 1px solid rgb(255, 255, 255);
  font-size:10px;
  transition: background-color 0.2s ease;
  

}
#contact:hover
{
  background-color:rgba(255, 151, 78, 0.1);
  cursor:pointer;
}

#prof
{
  border: 1px solid rgb(255, 255, 255);
  font-size:10px;
  transition: background-color 0.2s ease;
}

#prof:hover
{
  background-color:rgba(255, 151, 78, 0.1);
  cursor:pointer;
}

#about
{
  border: 1px solid rgb(255, 255, 255);
  font-size:10px;
}



#instruments

{

  border:1px solid rgb(255, 255, 255);
  text-align: center;
  color:white;
  border-collapse: collapse;
  font-size: 20px;
  height:60px;
  opacity:0.8;
  background-color: rgba(0,0,0,0.5);

}


#piano
{
  transition: font-size 0.3s ease, text-shadow 0.3s ease;
  opacity:1;
  color:white;
  border-collapse: collapse;
  border: 1px solid rgb(255, 255, 255);
  font-size: 20px;
  height:80px;
  padding:80px;

}

#piano:hover
{

  font-size: 25px;
  padding:-80px;
  opacity:1;
  text-shadow: 0px 0px 5px #ffffff;
  cursor:pointer;

}

#violin
{
  transition: font-size 0.3s ease, text-shadow 0.3s ease;
  opacity:1!important;
  color:white;
  border-collapse: collapse;
  border: 1px solid rgb(255, 255, 255);
  font-size: 17px;
  height:80px;
  padding:80 80 20 80px;

}
#violin:hover
{

  font-size: 20px;
  opacity:1!important;
  text-shadow: 0px 0px 5px #ffffff;
  cursor:pointer;

}
#appoint
{
  transition: font-size 0.3s ease, text-shadow 0.3s ease;
  padding:0 0 0 0;
  opacity:1;
  color:white;
  border-collapse: collapse;
  border: 1px solid rgb(255, 255, 255);
  font-size: 17px;
  height:80px;
  padding:60px;
}
#appoint:hover
{

  font-size: 20px;
  opacity:1!important;
  text-shadow: 0px 0px 5px #ffffff;
  cursor:pointer;
}

.menu {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 1s ease, transform 0.5s ease;
  margin: 0;
  animation: welcome 750ms 1 4000ms forwards, background-color 1s ease;
  /* Add initial transform value to the .menu */
  transform: translateX(0);
}


@keyframes erensialight
{

  0%
  {
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.1);
  }

  50%
  {
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.3);
  }

  100%
  {
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.4);
  }
}
a
{
  text-decoration: none; 
  color: white;
}



